<div ng-app="omdb">
  <div ng-controller="OmdbAPIController" class='page'>
    <header class='row'>
      <div class='logo left'>
        <img src='/images/film-reel.jpeg' />
      </div>
      <div class='form-container left'>
        <h2>OMDB Movie Search</h2>
        
        <form ng-submit='omdbCall()' class='left'>
          <input type="text" id="query" ng-model="query" placeholder='search...'></input>
          <input type='submit' class='button' value='Search!' />
        </form>
      </div>
    </header>
    
    <hr>
        
    <div class='error-message' ng-show='message'>
      {{ message }}
    </div>
    
    <div class='movie-container row' style='display:none;'>
      <div class='image-container left'>
        <img ng-src="{{movie.Poster}}" class='left'/>
        <div class='caption' ng-show='movie.imgUnavailable'>
          <br>
          Poster unavailable.
        </div>
      </div>
      <div class='movie-details left'>
      <h2>{{ movie.Title }}</h2>
      <li ng-show="movie.Rated != 'N/A'" class='rating'>{{ movie.Rated }}</li>
      <li ng-show="movie.Genre != 'N/A'" class='genre'>{{ movie.Genre }}</li>
      <li ng-show="movie.Year != 'N/A'" class='year'>Released: {{ movie.Year }}</li>
      <li ng-show="movie.Metascore != 'N/A'" class='rating'>Metascore: {{ movie.Metascore }}</li>
      <li ng-show="movie.imdbRating != 'N/A'" class='rating'>IMDB Rating: {{ movie.imdbRating }}</li>
      
      <p>{{ movie.Plot }}</p>
    </div>
  </div>
</div>
