.movie-container {
  width: 700px;
  img {
    width: 250px;
  }
  .movie-details {
    padding-left: 15px;
    width: 400px;
    h2 {
      margin-top: 0;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    border-right: solid 1px;
    padding-right: 10px;
    margin-right: 10px;
    font-style: italic;
  }

  .image-container {
    min-height: 300px;
    .caption {
      text-align: center;
      font-style: italic;
    }
  }
}

