header {
  text-align: center;
  img {
    float: left;
    width: 200px;
  }
}

.page {
  width: 750px;
}

.row {
  overflow: auto;
}

.row:after {
  clear: both;
}

.left {
  float: left;
  position: relative;
}

h1 {
  font-size: 40px;
  margin-top: 0.33em;
}
h2 {
  font-size: 32px;
  margin-bottom: 0.3em;
}