header {
  text-align: center;
  img {
    float: left;
    width: 200px;
  }
}

.movie-container {
  background: 'blue'
}

.page {
  width: 750px;
}

.row {
  overflow: auto;
}

.row:after {
  clear: both;
}
